@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}






@using (Html.BeginForm("Home", "Home", FormMethod.Post))
{
    
    <style>
        body {
            background-image: url("/Images/HomeBG.jpg");
        }
        
    </style>

    <body style="background-size:cover">
    </body>
    <img src="~/Images/Stone-Clinic-Logo.png" alt="Logo" align="left" height="100" width="100" />
    <br />

    <head>
        <link href="~/css/MyStyleSheet.css" rel="stylesheet" />
    </head>


    <body style="background-color:darkslategrey">
        <div class="topnav" style="text-align:center">


            <a class="active" asp-action="AddDoctor" asp-controller="Home" method="Post">AddDoctor</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="active" asp-action="AddPatient" asp-controller="Home" method="Post">AddPatient</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="active" asp-action="AddAppointment" asp-controller="Home" method="Post">AddAppointment</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="active" asp-action="CancelAppointment" asp-controller="Home" method="Post">CancelAppointment</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="active" asp-action="Index" asp-controller="Home" method="Post">Logout</a>

        </div>


    </body>
    <br /><br /><br />

   
        
    <div align="center">
        <h2>WE CARE FOR YOUR HEALTH!!!</h2>

        <br /><br /><br /><br />
        <h3>The Greatest Wealth Is Health!</h3>
    </div>
            
        



}




